@import './utils/variables';
@import './utils/visually-hidden';


@import './base/reset';
@import './base/base';
@import './base/container';
@import './base/section';

@import './components/btn';
@import './components/socials';
@import './components/section-title';
@import './components/logo';
@import './components/backdrop';
@import './components/modal';

@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/works';
@import './layout/team';
@import './layout/clients';
@import './layout/filters-portfolio';
@import './layout/projects';
@import './layout/footer';
