.header {
    border-bottom: 1px solid var(--primary-border-color);
}

.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    padding: 24px 0 25px 0;
    margin-right: 94px;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.nav__link,
.contacts__link {
    padding: 32px 0;
    display: flex;
}

.nav__link {
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    position: relative;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    &::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: transparent;
        position: absolute;
        left: 0;
        bottom: -1px;
        transition: background-color 250ms var(--timing-function);
    }
    &:hover::after,
    &:focus::after {
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196F3;
        position: absolute;
        left: 0;
        bottom: -1px;
    }
}

.nav__link--current {
    color: var(--accent-color);
    &::after {
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        position: absolute;
        left: 0;
        bottom: -1px;
    }
}

.contacts__list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}
.contacts__link {
    color: var(--primary-light-text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    align-items: center;
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.contacts__icon {
    fill: var(--primary-light-text-color);
    margin-right: 10px;
}
.contacts__icon-link {
    transition: fill 250ms var(--timing-function);
    .contacts__link:hover &,
    .contacts__link:focus & {
            fill: currentColor;
    }
}
