

/* ----------Проекти---------- */

.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects__item {
    flex-basis: calc((100% - 60px) / 3);
}

.projects__link {
    display: block;

    transition: box-shadow 250ms var(--timing-function);
    &:hover,
    &:focus {
        box-shadow: var(--secondary-box-shadow-color);
        outline: transparent;
    }
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
    .projects__link:hover &,
    .projects__link:focus & {
        transform: translateY(0);
    }
}

.overlay-wrapper {
    position: relative;
    overflow: hidden;
}


.projects__descr {
    color: var(--secondary-ligh-text-color);
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    font-weight: 400;

    display: flex;
    padding: 63px 24px;
}

.projects__content {
    background-color: var(--primary-light-bg-color);

    border-left: 1px solid var(--secondary-border-color);
    border-right: 1px solid var(--secondary-border-color);
    border-bottom: 1px solid var(--secondary-border-color);

    padding: 20px 24px;
}

.projects__title {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.projects__type {
    letter-spacing: 0.03em;
    line-height: calc(30 / 16);
    color: var(--primary-light-text-color);
}