.team__section {
    background-color: var(--secondary-light-bg-color);
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.team__item {
    background: var(--primary-light-bg-color);

    box-shadow: var(--primary-box-shadow-color);
    border-radius: 0px 0px 4px 4px;

    flex-basis: calc((100% - 3 * 30px) / 4);
}

.team__content {
    padding: 30px 32px;
}

.team__name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 10px;
}

.team__position {
    letter-spacing: 0.03em;
    line-height: calc(19 / 16);
    text-align: center;

    margin-bottom: 16px;
}

