.btn {
    min-width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 auto;

    color: var(--secondary-ligh-text-color);
    background-color: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    text-align: center;

    border: none;
    border-radius: 4px;
    box-shadow: var(--primary-btn--box-shadow-color);
    cursor: pointer;

    transition: background-color 250ms var(--timing-function);
    &:hover,
    &:focus {
        background-color: var(--bg-btn-color);
    }
}
.btn__icon {
    fill: var(--secondary-ligh-text-color);
    margin-left: 10px;
}