.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: calc(31 / 26);
}

.logo__right-part--dark {
    color: var(--primary-dark-text-color);
}

.logo__right-part--light {
    color: var(--secondary-ligh-text-color);
}

