

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing-function);

    min-width: 528px;
    min-height: 581px;

    background-color: var(--primary-light-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.6);
    }
}

.modal__sudtitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__wrapper {
    position: relative;
    display: block;
}

.modal__label {
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    margin-bottom: 4px;
}

.modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 42px;
    margin-bottom: 10px;

    transition: border-color 250ms var(--timing-function);
    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
}



.modal__input:focus,
.modal__textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

.modal__icon {
    position: absolute;
    display: flex;
    top: 50%;
    left: 12px;
    transform: translateY(-40%);
    width: 18px;
    height: 18px;
    fill: var(--title-text-color);
    pointer-events: none;
    transition: fill 250ms var(--timing-function);
    .modal__input:focus + & {
        fill: var(--accent-color);
    }
}

.modal__textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    padding: 12px 16px;
    margin-bottom: 20px;

    transition: border-color 250ms var(--accent-color);
    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
            font-size: 12px;
            line-height: calc(14 / 12);
            letter-spacing: 0.01em;
        }
}

.modal__label-policy {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    user-select: none;
}

.modal__link-policy {
    color: var(--accent-color);
}

.modal__check-policy {
    margin-right: 7px;

    border-radius: 2px;
    border: 2px solid var(--title-text-color);
    cursor: pointer;
    .modal__input-policy:checked + & {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
    }
    .modal__input-policy:focus-visible + & {
        outline: 2px solid var(--title-text-color);
    }
}

.modal__icon-policy {
    width: 11px;
    height: 8px;
    fill: var(--secondary-ligh-text-color);
    display: none;
}

.modal__input-policy:checked + .modal__check-policy .modal__icon-policy {
    display: block;
}

.modal__btn-close {
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-light-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: fill 250ms var(--timing-function);
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

