
.socials__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;

    transition: background-color 250ms var(--timing-function);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        }
}
  
.socials__icon {
    transition: fill 250ms var(--timing-function);
    .socials__link:hover &,
    .socials__link:focus & {
            fill: var(--secondary-ligh-text-color);
        }
}
.socials__link--light {
    background-color: var(--primary-light-bg-color);
    fill: var(--primary-icon-color);
    
    transition: background-color 250ms var(--timing-function);
}

.socials__link--dark {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--secondary-ligh-text-color);

    transition: background-color 250ms var(--timing-function);
}
